{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-5">
            <div class="col-lg-9 order-2 order-lg-1">
                <!-- PATIENTS TABLE-->
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr class="text-sm">
                            <th class="border-gray-300 border-top py-3">№</th>
                            <th class="border-gray-300 border-top py-3 ">Имя Фамилия</th>
                            <th class="border-gray-300 border-top py-3">Дата записи</th>
                            <th class="border-gray-300 border-top py-3">Время записи</th>
                            <th class="border-gray-300 border-top py-3">Тип</th>
                            <th class="border-gray-300 border-top py-3">Лечащий врач</th>
                            <th class="border-gray-300 border-top py-3">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointments %}
                        <tr class="text-sm">
                            <th class="align-middle py-3">{{ forloop.counter }}</th>
                            <td class="align-middle py-3"><a href="#">{{ appointment.patient }}</a></td>
                            <td class="align-middle py-3">{{ appointment.start.date }}</td>
                            <td class="align-middle py-3">{{ appointment.start.time }} - {{ appointment.end.time }}</td>
                            <td class="align-middle py-3">{{ appointment.get_type_display }}</td>
                            <td class="align-middle py-3"><a href="#">{{ appointment.doctor }}</a></td>
                            <td class="align-middle py-3">
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'appointment:appointment_detail' appointment.pk %}">Детально</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2">
                <h3 class="h4 text-uppercase lined mb-4">Записи на приём</h3>
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link text-sm active" href="customer-orders.html">
                        <i class="me-2 fas fa-list"></i><span>Все записи</span></a>
                    <a class="nav-link text-sm" href="customer-wishlist.html">
                        <i class="me-2 fas fa-heart"></i><span>Мои записи</span></a>
                </nav>
                <hr>
                <form action="#" method="GET">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="start_date">С:</label>
                                <input type="date" id="start_date" name="start_date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="end_date">По:</label>
                                <input type="date" id="end_date" name="end_date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="margin: 5px;">Применить фильтр</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}