{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-5">
            <p class="lead mb-4 text-sm">Пациент: <a href="#"><strong>{{ appointment.patient }}</strong></a> <br>
                Дата записи: <strong>{{ appointment.start.date }}</strong> <br>
                Время записи: <strong>{{ appointment.start.time }} - {{ appointment.end.time }}</strong> <br>
                Статус: <strong class="{% if appointment.status == 'canceled' %} text-danger {% endif %}">{{appointment.get_status_display}}</strong>
                <br>
                Доктор: <strong>{{appointment.doctor}}</strong><br>
                Тип записи: <strong>{{ appointment.get_type_display }}</strong><br>
                Примечание: <strong>{{appointment.description}}</strong></p>
            <div class="row">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <!-- CART TABLE-->
                    <div class="table-responsive mb-4">
                        <table class="table text-nowrap">
                            <thead class="bg-light">
                            <tr>
                                <th class="border-0 p-3" scope="col"><strong
                                        class="text-sm text-uppercase">#</strong>
                                </th>
                                <th class="border-0 p-3" scope="col"><strong
                                        class="text-sm text-uppercase">Процедура</strong>
                                </th>
                                <th class="border-0 p-3" scope="col"><strong
                                        class="text-sm text-uppercase">Стоимость</strong></th>
                                <th class="border-0 p-3" scope="col"><strong
                                        class="text-sm text-uppercase">Удалить</strong></th>
                            </tr>
                            </thead>
                            <tbody class="border-0">
                            {% for service in services %}
                            <tr>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">{{ forloop.counter }}</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">{{ service.name }}</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">{{ service.cost }}</p>
                                </td>
                                <td class="p-3 align-middle border-light"><a class="reset-anchor" href="#!"><i
                                        class="fas fa-trash-alt small text-muted"></i></a></td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- CART NAV-->
                    <div class="bg-light px-4 py-3">
                        <div class="row align-items-center text-center">
                            {% if appointment.get_status_display != 'Завершено' %}
                            <div class="col-md-6 text-md-end">
                                <a class="btn btn-outline-dark btn-sm"
                                   href="{% url 'appointment:appointment_update' appointment.pk %}">Редактировать запись
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- ORDER TOTAL-->
                <div class="col-lg-4">
                    <div class="card border-0 rounded-0 p-lg-4 bg-light">
                        <div class="card-body">
                            <h5 class="text-uppercase mb-4">Финансы</h5>
                            <ul class="list-unstyled mb-0">

                                <li class="border-bottom my-2"></li>
                                <li class="d-flex align-items-center justify-content-between mb-4">
                                    <strong class="text-uppercase small font-weight-bold">Общая стоимость</strong>
                                    <span id="total-cost">{{sum_services}}</span>
                                </li>
                                <li>
                                    <form action="#">
                                        <div class="input-group mb-0">
                                            <input class="form-control" type="text" placeholder="Enter your coupon">
                                            <button class="btn btn-dark btn-sm w-100" type="submit"><i
                                                    class="fas fa-gift me-2"></i>Apply coupon
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-7">
                        <div class="section-title mb-4">
                            <h5 class="position-relative d-inline-block text-primary text-uppercase">Фото</h5>
                        </div>
                        <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                            {% for photo in appointment.photos.all %}
                            <div class="position-relative">
                                <div class="img-container-top">
                                    <a href="{{ photo.photo.url }}">
                                        <img class="img-fluid rounded" style="max-width: 300px; max-height: 200px;"
                                             src="{{ photo.photo.url }}" alt="">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing End -->
    </div>
<!--    <div class="container">-->
<!--        <div class="row gx-5">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"-->
<!--                     data-wow-delay="0.6s">-->
<!--                    <h1 class="text-white mb-4">Make Appointment</h1>-->
<!--                    <form>-->
<!--                        <div class="row g-3">-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <select class="form-select bg-light border-0" style="height: 55px;">-->
<!--                                    <option selected>Select A Service</option>-->
<!--                                    <option value="1">Service 1</option>-->
<!--                                    <option value="2">Service 2</option>-->
<!--                                    <option value="3">Service 3</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <select class="form-select bg-light border-0" style="height: 55px;">-->
<!--                                    <option selected>Select Doctor</option>-->
<!--                                    <option value="1">Doctor 1</option>-->
<!--                                    <option value="2">Doctor 2</option>-->
<!--                                    <option value="3">Doctor 3</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <input type="text" class="form-control bg-light border-0" placeholder="Your Name"-->
<!--                                       style="height: 55px;">-->
<!--                            </div>-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <input type="email" class="form-control bg-light border-0" placeholder="Your Email"-->
<!--                                       style="height: 55px;">-->
<!--                            </div>-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <div class="date" id="date1" data-target-input="nearest">-->
<!--                                    <input type="text"-->
<!--                                           class="form-control bg-light border-0 datetimepicker-input"-->
<!--                                           placeholder="Appointment Date" data-target="#date1"-->
<!--                                           data-toggle="datetimepicker"-->
<!--                                           style="height: 55px;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <div class="time" id="time1" data-target-input="nearest">-->
<!--                                    <input type="text"-->
<!--                                           class="form-control bg-light border-0 datetimepicker-input"-->
<!--                                           placeholder="Appointment Time" data-target="#time1"-->
<!--                                           data-toggle="datetimepicker"-->
<!--                                           style="height: 55px;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-12">-->
<!--                                <button class="btn btn-dark w-100 py-3" type="submit">Make Appointment</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>
{% endblock%}