{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container py-4">
        <div class="row gy-5">
            <div class="col-lg-9 order-2 order-lg-1">
                <!-- PATIENTS TABLE-->
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap" id="patientsTable">
                        <thead>
                        <tr class="text-sm">
                            <th class="border-gray-300 border-top py-3">№</th>
                            <th class="border-gray-300 border-top py-3">Фото</th>
                            <th class="border-gray-300 border-top py-3">Фамилия Имя</th>
                            <th class="border-gray-300 border-top py-3">Лечащий врач</th>
                            <th class="border-gray-300 border-top py-3">Клиника</th>
                            <th class="border-gray-300 border-top py-3">Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for patient in patients %}
                        <tr class="text-sm">
                            <th class="align-middle py-3">{{ forloop.counter }}</th>
                            <td class="align-middle py-3"><img class="img-fluid flex-shrink-0"
                                                               src="{{ patient.photo.url }}" alt="{{ patient }}"
                                                               style="min-width: 50px" width="50"></td>
                            <td class="align-middle py-3"><a href="#">{{ patient.full_name }}</a></td>
                            <td class="align-middle py-3"><a href="#">{{ patient.doctor }}</a></td>
                            <td class="align-middle py-3"><a href="#">{{ patient.clinic }}</a></td>
                            <td class="align-middle py-3"><a class="btn btn-outline-primary btn-sm"
                                                             href="{% url 'core:patient_detail' patient.pk %}">Детально</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 order-1 order-lg-2">
                <h3 class="h4 text-uppercase lined mb-4">Фильтр пациентов</h3>
                <nav class="nav flex-column nav-pills">
                    <form id="patientFilterForm">
                        <select class="form-select form-select-sm mb-1" aria-label="Large select example" id="doctorId" name="doctorId">
                            <option selected>Доктор</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.id }}">{{ doctor.full_name }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-select form-select-sm mb-1" aria-label="Small select example" id="clinicId" name="clinicId">
                            <option selected>Клиника</option>
                            {% for clinic in clinics %}
                            <option value="{{ clinic.id }}">{{ clinic.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-primary">Применить фильтр</button>
                        </div>
                    </form>
                </nav>
            </div>
        </div>
    </div>
</section>

<script>

function updatePatientsList(data) {
    // Очищаем текущий список пациентов
    var patientsTableBody = document.querySelector("#patientsTable tbody");
    patientsTableBody.innerHTML = "";

    // Добавляем новые строки с пациентами в таблицу
    data.forEach(function(patient, index) {
        var row = `
            <tr class="text-sm">
                <th class="align-middle py-3">${index + 1}</th>
                <td class="align-middle py-3"><img class="img-fluid flex-shrink-0" src="${patient.photo}" alt="${patient.name}" style="min-width: 50px" width="50"></td>
                <td class="align-middle py-3"><a href="#">${patient.full_name}</a></td>
                <td class="align-middle py-3"><a href="#">${patient.doctor_full_name}</a></td>
                <td class="align-middle py-3"><a href="#">${patient.clinic_name}</a></td>
                <td class="align-middle py-3"><a class="btn btn-outline-primary btn-sm" href="${patient.url}">Детально</a></td>
            </tr>`;
        patientsTableBody.innerHTML += row;
    });
}

document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("patientFilterForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        // Получаем значения выбранных доктора и клиники
        var doctorId = document.getElementById("doctorId").value;
        var clinicId = document.getElementById("clinicId").value;

        // Формируем URL с параметрами фильтрации
        var apiUrl = "http://127.0.0.1:8000/api/patients_list/?";
        if (doctorId) {
            apiUrl += "doctor_id=" + doctorId + "&";
        }
        if (clinicId) {
            apiUrl += "clinic_id=" + clinicId + "&";
        }

        // Отправляем запрос к API
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                // Обновляем список пациентов на странице
                updatePatientsList(data);

                // Обновляем URL без перезагрузки страницы
                var newUrl = window.location.pathname + "?";
                if (doctorId != 'Доктор') {
                    newUrl += "doctor_id=" + doctorId + "&";
                }
                if (clinicId != 'Клиника') {
                    newUrl += "clinic_id=" + clinicId + "&";
                }
                newUrl = newUrl.slice(0, -1); // Убираем последний символ "&"
                history.pushState({}, "", newUrl);
            })
            .catch(error => console.error("Ошибка при отправке запроса:", error));
    });
});

</script>
{% endblock %}