{% extends 'new/base.html' %}
{% block content %}
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery и Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Модальное окно -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успех</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Запись успешно создана.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="redirectButton">Перейти к деталям</button>
            </div>
        </div>
    </div>
</div>
<main id="main" class="main">
    <!-- Bootstrap CSS -->
    <section class="section">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Запись пациента</h5>
                        <!-- Profile Edit Form -->
                        <form id="patient-form" enctype="multipart/form-data" action="{% url 'api:create_appointment' %}" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Пациент*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="patient" aria-label="Default select example" id="patient" required>
                                        {% for patient in patients %}
                                        <option value="{{ patient.id }}" {% if patient == patient_selected %}selected{% endif %}>{{ patient }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="startDateTime" class="col-md-4 col-lg-3 col-form-label">Дата и время начала*</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="datetime-local" class="form-control" id="startDateTime" name="start">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="endDateTime" class="col-md-4 col-lg-3 col-form-label">Дата и время завершения*</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="datetime-local" class="form-control" id="endDateTime" name="end">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Лечащий врач*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="doctor" aria-label="Default select example" id="doctor" required>
                                        <option selected disabled value="">не выбрано</option>
                                        {% for doctor in doctors %}
                                        <option value="{{ doctor.id }}">{{ doctor }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Клиника*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="clinic" aria-label="Default select example" id="clinic" required>
                                        <option selected disabled value="">не выбрано</option>
                                        {% for clinic in clinics %}
                                        <option value="{{ clinic.id }}">{{ clinic }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Статус*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="status" aria-label="Default select example" id="status" required>
                                        <option selected disabled value="">не выбрано</option>
                                        {% for status in statuses %}
                                        <option value="{{ status.0 }}">{{ status.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Тип*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="type" aria-label="Default select example" id="type" required>
                                        <option selected disabled value="">не выбрано</option>
                                        {% for type in types %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label">Добавить процедуры*</label>
                                <div class="col-md-8 col-lg-9">
                                    <select class="form-select" name="items" id="items" multiple aria-label="multiple select example" required>
                                        {% for service in services %}
                                        <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="description" class="col-md-4 col-lg-3 col-form-label">Примечание</label>
                                <div class="col-md-8 col-lg-9">
                                    <textarea name="description" class="form-control" id="description" style="height: 100px"></textarea>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" id="submit-button">Создать</button>
                            </div>
                        </form><!-- End Profile Edit Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('patient-form');
    const submitButton = document.getElementById('submit-button');
    const requiredFields = form.querySelectorAll('input[required], select[required]');
    const successModal = new bootstrap.Modal(document.getElementById('successModal'));
    const redirectButton = document.getElementById('redirectButton');

    function checkFormValidity() {
        let isValid = true;
        requiredFields.forEach(field => {
            if (!field.value.trim() || field.value === "") {
                isValid = false;
            }
        });
        submitButton.disabled = !isValid;
    }

    requiredFields.forEach(field => {
        field.addEventListener('input', checkFormValidity);
        field.addEventListener('change', checkFormValidity); // For select elements
    });

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        submitButton.disabled = true; // Disable the button immediately after form submission

        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Ошибка при создании.');
        })
        .then(data => {
            successModal.show();
            redirectButton.addEventListener('click', function() {
                window.location.href = `/appointments/appointment_detail/${data.id}/`;
            });
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            submitButton.disabled = false; // Re-enable the button if there's an error
        });
    });

    checkFormValidity(); // Initial check in case fields are pre-filled
});
</script>
{% endblock %}