{% extends 'new/base.html' %}
{% block content %}
<main id="main" class="main">
    <!-- Bootstrap CSS -->

<!-- jQuery и Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Модальное окно -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успех</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Данные успешно сохранены!
              </div>
            </div>
          </div>
        </div>

    <div class="pagetitle">
        <h1>Профиль пациента</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Профиль пациента</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{% if patient.photo %}{{ patient.photo.url }}{% else %}/media/img/logo_profile.png{% endif %}" alt="Patient Photo">
                        <h2>{{ patient.full_name }}</h2>
                        <div class="social-links mt-2">
                            <a href="{% if patient.telegram %}https://t.me/{{ patient.telegram }}{% else %}#{% endif %}"
                               class="telegram"><i class="bi bi-telegram"></i></a>
                            <a href="{% if patient.instagram %}https://www.instagram.com/{{ patient.instagram }}{% else %}#{% endif %}"
                               class="instagram"><i class="bi bi-instagram"></i></a>
                        </div>
                        <div class="text-left mt-3">
                            <h4 class="font-13 text-uppercase">Анамнез пациента:</h4>
                            <p class="text-muted font-13 mb-3">{{ patient.medical_history }}</p>
                            <p class="text-muted mb-2 font-13"><strong>День рождения : </strong><span class="ml-2 ">{{ patient.date_of_birth }}</span>
                            </p>
                            <p class="text-muted mb-2 font-13">
                                <strong>Mobile : </strong>
                                <span class="ml-2">
                                    <a href="tel:{{ patient.phone_number }}">{{ patient.phone_number }}</a>
                                </span>
                            </p>
                            </p>
                            <p class="text-muted mb-2 font-13"><strong>Клиника : </strong><span class="ml-2 ">{{ patient.clinic }}</span>
                            </p>
                            <p class="text-muted mb-1 font-13"><strong>Город проживания : </strong><span class="ml-2">{{ patient.city }}</span>
                            </p>
                        </div>
                        <a class="btn btn-primary" style="margin:5px;" href="{% url 'appointment:create_appointment' %}?patient_id={{ patient.id }}">Записать на прием</a>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Все посещения пациента
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                    Редактировать данные
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">
                                    Финансы
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="dashboard">
                                    <h5 class="card-title">Записи пациента <span>| Все</span></h5>

                                    <div class="activity">
                                        {% for appointment in appointments %}
                                        <div class="activity-item d-flex">
                                            <div class="activite-label" style="width: 85px;">{{appointment.start.date|date:"D d/m"}}<br>
                                                {{ appointment.start.time|time:"H:i" }}-{{ appointment.end.time|time:"H:i" }}<br>
                                                {{appointment.clinic}}
                                            </div>
                                            <i class="bi bi-circle-fill activity-badge text-{% if appointment.status == 'approved' %}info
                                                                            {% elif appointment.status == 'completed' %}success
                                                                            {% elif appointment.status == 'planned' %}primary
                                                                            {% elif appointment.status == 'canceled' %}danger
                                                                            {% endif %} align-self-start"></i>
                                            <div class="activity-content">
                                                <a href="{% url 'appointment:appointment_detail' appointment.pk %}">
                                                <span class=" fw-bold text-dark text-uppercase">{% for item in appointment.items.all %} {{ item.service }} {% if not forloop.last %}|{% endif %} {% endfor %}</span><br>
                                                </a>
                                                Доктор: {{appointment.doctor}}
                                                <br>
                                                {% if appointment.photos.all %}
                                                <span><strong><i class="bi bi-camera"></i><i class="bi bi-check-circle-fill" style="color:green;"></i></strong></span>
                                                <br>
                                                {% endif %}
                                                <span class="{% if appointment.status == 'approved' %}badge fw-light text-uppercase bg-info
                                                                            {% elif appointment.status == 'completed' %}badge fw-light text-uppercase bg-success
                                                                            {% elif appointment.status == 'planned' %}badge fw-light text-uppercase bg-primary
                                                                            {% elif appointment.status == 'canceled' %}badge fw-light text-uppercase bg-danger
                                                                            {% endif %}">{{appointment.get_status_display}}</span>
                                            </div>
                                        </div><!-- End activity item-->
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <!-- Контейнер для сообщения -->
                                <div id="success-message" class="alert alert-success d-none" role="alert">
                                    Данные успешно сохранены!
                                </div>

                                <!-- Profile Edit Form -->
                                <form id="patient-form" enctype="multipart/form-data" action="{% url 'api:patient_update' patient.pk %}">
                                    {% csrf_token %}
                                    <!-- Ваши поля формы -->
                                    <div class="row mb-3">
                                        <label for="photo" class="col-md-4 col-lg-3 col-form-label">Фото пациента</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" type="file" id="photo" name="photo" data-original-value="{% if patient.photo == '/media/0' %}{{ patient.photo.url }}{% else %}/media/img/logo_profile.png{% endif %}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="first_name" class="col-md-4 col-lg-3 col-form-label">Имя</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="first_name" type="text" class="form-control" id="first_name"
                                                   value="{{ patient.first_name }}" data-original-value="{{ patient.first_name }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Фамилия</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="last_name" type="text" class="form-control" id="last_name"
                                                   value="{{ patient.last_name }}" data-original-value="{{ patient.last_name }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="date_of_birth" class="col-md-4 col-lg-3 col-form-label">Дата рождения</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="date_of_birth" id="date_of_birth" type="date" class="form-control" value="{% if patient.birthday %}{{ patient.birthday }}{% endif %}" data-original-value="{% if patient.birthday %}{{ patient.birthday }}{% endif %}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Лечащий врач</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-select" name="doctor" aria-label="Default select example" id="doctor" data-original-value="{{ patient.doctor.id }}">
                                                {% for doctor in doctors %}
                                                <option value="{{ doctor.id }}" {% if patient.doctor == doctor %}selected{% endif %}>{{ doctor }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Номер телефона</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone_number" type="text" class="form-control" id="Phone"
                                                   value="{{ patient.phone_number }}" data-original-value="{{ patient.phone_number }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="city" class="col-md-4 col-lg-3 col-form-label">Город проживания</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="city" type="text" class="form-control" id="city"
                                                   value="{{ patient.city }}" data-original-value="{{ patient.city }}">
                                        </div>
                                    </div>
                                    <input type="hidden" name="clinic" id="clinic" value="{{ patient.clinic.id }}">
                                    <div class="row mb-3">
                                        <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text" class="form-control" id="Instagram"
                                                   value="{{ patient.instagram }}" data-original-value="{{ patient.instagram }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Telegram" class="col-md-4 col-lg-3 col-form-label">Telegram</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="telegram" type="text" class="form-control" id="Telegram"
                                                   value="{{ patient.telegram }}" data-original-value="{{ patient.telegram }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="medical_history" class="col-md-4 col-lg-3 col-form-label">Анамнез</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="medical_history" class="form-control" id="medical_history"
                                                      style="height: 100px" data-original-value="{{ patient.medical_history }}">{{ patient.medical_history }}</textarea>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" disabled>Сохранить</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">

                                <!-- Settings Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>


</main><!-- End #main -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('patient-form');
    const saveButton = form.querySelector('button[type="submit"]');
    const inputs = form.querySelectorAll('input, textarea, select');
    const originalValues = {};

    // Сохраняем изначальные значения полей формы
    inputs.forEach(input => {
        originalValues[input.id] = input.value;
    });

    function checkForChanges() {
        let hasChanged = false;
        inputs.forEach(input => {
            if (input.type === 'file') {
                if (input.files.length > 0) {
                    hasChanged = true;
                }
            } else {
                if (input.value !== originalValues[input.id]) {
                    hasChanged = true;
                }
            }
        });
        saveButton.disabled = !hasChanged;
    }

    inputs.forEach(input => {
        input.addEventListener('change', checkForChanges);
        input.addEventListener('input', checkForChanges);
    });

    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Отменяем стандартное поведение формы

        const formData = new FormData(form); // Собираем данные формы
        const url = form.getAttribute('action'); // Получаем URL, на который будем отправлять запрос

        fetch(url, {
            method: 'PUT', // Используем метод PUT для обновления данных
            body: formData, // Передаем данные формы
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Устанавливаем CSRF-токен
            }
        })
        .then(response => {
            if (response.ok) {
                // Показать модальное окно
                $('#successModal').modal('show');

                // Обновить оригинальные значения
                inputs.forEach(input => {
                    originalValues[input.id] = input.value;
                });
                checkForChanges(); // Перепроверить изменения, чтобы отключить кнопку

                // Закрыть модальное окно через 1 секунды
                setTimeout(() => {
                    $('#successModal').modal('hide');
                }, 1000);
                // Обновление страницы после закрытия модального окна
                $('#successModal').on('hidden.bs.modal', function (e) {
                    location.reload(); // Перезагрузить страницу
                });
            } else {
                return response.json().then(data => {
                    console.error('Ошибка обновления:', data);
                });
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    });

    checkForChanges(); // Первичная проверка для установки состояния кнопки

    // Функция для получения CSRF-токена из cookie
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
});
</script>
{% endblock %}