{% extends 'new/base.html' %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Пациенты</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Пациенты</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8 order-2 order-lg-1">
                <div class="row">

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Список пациентов</h5>
                                <a class="btn btn-primary" style="margin:5px;" href="{% url 'core:add_patient' %}">Создать пациента</a>
                                <table class="table table-borderless datatable" id="patientsTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">Фото</th>
                                        <th scope="col">Фамилия Имя</th>
                                        <th scope="col">Лечащий врач</th>
                                        <th scope="col">Клиника</th>
                                        <th scope="col">Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for patient in patients %}
                                    <tr>
                                        <th scope="row"><img class="img-fluid flex-shrink-0"
                                                             src="{% if patient.photo %}{{ patient.photo.url }}{% else %}/media/img/logo_profile.png{% endif %}" loading="lazy" alt="{{ patient }}"
                                                             style="min-width: 50px" width="50"></th>
                                        <td><a href="{% url 'core:patient_detail' patient.pk %}">{{ patient.full_name }}</a></td>
                                        <td>{{ patient.doctor }}</td>
                                        <th scope="row">{{ patient.clinic }}</th>
                                        <td><a class="btn btn-outline-primary btn-sm"
                                               href="{% url 'core:patient_detail' patient.pk %}">Детально</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->


                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4 col-12 order-1 order-lg-2">

                <!-- Recent Activity -->
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Фильтр пациентов</h5>

                        <div class="activity">
                            <nav class="nav flex-column nav-pills">
                                <form id="patientFilterForm" action="{% url 'core:patients' %}">
                                    <select class="form-select form-select-sm mb-1" aria-label="Large select example"
                                            id="doctor_id" name="doctor_id">
                                        <option {% if doctor_selected %}{%else%}selected{% endif %}>Доктор</option>
                                        {% for doctor in doctors %}
                                        <option value="{{ doctor.id }}" {% if doctor_selected == doctor %}selected{% endif %}>{{ doctor.full_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-select form-select-sm mb-1" aria-label="Small select example"
                                            id="clinic_id" name="clinic_id">
                                        <option {% if clinic_selected %}{%else%}selected{% endif %}>Клиника</option>
                                        {% for clinic in clinics %}
                                        <option value="{{ clinic.id }}" {% if clinic_selected == clinic %}selected{% endif %}>{{ clinic.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="mt-3 text-center">
                                        <button type="submit" class="btn btn-primary">Применить фильтр</button>
                                    </div>
                                </form>
                            </nav>


                        </div>

                    </div>
                </div><!-- End Recent Activity -->

            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("patientFilterForm");
    var submitButton = form.querySelector("button[type='submit']");
    var originalFormData = new FormData(form);

    // Функция для проверки изменений в форме и активации кнопки
    function checkFormChanges() {
        var currentFormData = new FormData(form);
        var changed = false;

        // Проверяем, были ли изменены значения полей формы
        for (var pair of currentFormData.entries()) {
            var originalValue = originalFormData.get(pair[0]);
            var currentValue = pair[1];

            // Если значения не равны или одно из них не определено, значит было изменение
            if (currentValue !== originalValue || (currentValue === undefined && !originalFormData.has(pair[0]))) {
                changed = true;
                break;
            }
        }

        // Активируем кнопку, если есть изменения, иначе деактивируем
        submitButton.disabled = !changed;
    }

    // Добавляем обработчик событий на изменения в форме
    form.addEventListener("change", checkFormChanges);

    // Добавляем обработчик событий на ввод в текстовые поля формы
    var inputs = form.querySelectorAll("input[type='text'], input[type='number']");
    inputs.forEach(function(input) {
        input.addEventListener("input", checkFormChanges);
    });

    // Обработчик отправки формы
    form.addEventListener("submit", function(event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        // Получаем значения выбранных доктора и клиники
        var doctor_id = document.getElementById("doctor_id").value;
        var clinic_id = document.getElementById("clinic_id").value;

        // Формируем URL с параметрами фильтрации
        var url = "{% url 'core:patients' %}?";
        if (doctor_id) {
            url += "doctor_id=" + doctor_id + "&";
        }
        if (clinic_id) {
            url += "clinic_id=" + clinic_id + "&";
        }

        // Перенаправляем на новый URL
        window.location.href = url;
    });

    // Инициализируем состояние кнопки при загрузке страницы
    checkFormChanges();
});
</script>
{% endblock %}